<table>
    <td>
        <img class="imgProfilEcurie" src="/image/ecurie/{{detailEcurie.ecuadresseimage}}"/>
    </td>
    <td>
        <p><b>Nom :</b> {{detailEcurie.ecunom}}</p>
        <p><b>Directeur :</b> {{detailEcurie.ecunomdir}}</p>
        <p><b>Adresse :</b> {{detailEcurie.ecuadrsiege}}</p>
        <p><b>Pays :</b> {{detailEcurie.paynom}}</p>
        {{#if fournisseurPneus}}
            <p><b>Fournisseur de pneumatiques :</b> {{detailEcurie.fpnom}}</p>
        {{/if}}

    </td>
    <td>
        {{>listerCircuits}}
    </td>
</table>

{{#if listePilotesEcurie}}
    <p><b>Pilotes :</b>
        {{#each listePilotesEcurie}}
            <br/>
            <a href="">{{this.pilprenom}} {{this.pilnom}}</a>
        {{/each}}
    </p>
    <br/>
    <div class="listeImagesVoitures">
        {{#each listeVoituresEcurie}}
            <p><img class="listeImagesVoitures" src="/image/ecurie/voiture/{{this.voiadresseimage}}"/> <br/>{{this.voinom}} <br/> {{this.typelibelle}}</p>
        {{/each}}
    </div>

{{else}}
    <p>Cette écurie ne participe pas au championnat cette année</p>
{{/if}}

