{{> listerPremiereLettreNomPilote}}
<table>

    <td>
        <img class="imgProfilPilote" src="/image/pilote/{{detailDuPilote.phoadresse}}"/>
    </td>
    <td>
        <p><b>Nom :</b> {{detailDuPilote.pilnom}} {{detailDuPilote.pilprenom}}</p>
        <p><b>Date de naissance :</b> {{formatDate detailDuPilote.pildatenais 'dddd DD MMMM YYYY'}}</p>

        <p><b>Nationalité :</b> {{detailDuPilote.paynom}}</p>
        {{#if this.ecunom}}
            <p><b>Ecurie :</b> {{detailDuPilote.ecunom}}</p>
        {{else}}
            <p><b>Ecurie :</b> Pas d'écurie cette année</p>
        {{/if}}

    </td>
    <td class="poidEtTaille">

        <p><b>Poids :</b> {{detailDuPilote.pilpoids}} Kg</p>
        <p><b>Taille :</b> {{detailDuPilote.piltaille}} Cm</p>


    </td>
</table>

<div class="sponsor">
    {{#if listeSponsors}}
        <p><b>Principaux sponsors :</b></p>
        {{#each listeSponsors}}
            <p><b>{{this.sponom}}</b> ({{this.sposectactivite}})</p>
        {{/each}}
    {{/if}}

</div>

<br/>

<div class="longTextPilote">
    <p><b>Qui suis-je? :</b> {{detailDuPilote.piltexte}}</p>
</div>

<br/><br/>


<div class="imagesDuPilote">
{{#each imagesPilote}}
    <a class="taille" href="/image/pilote/{{this.phoadresse}}" data-lightbox="top"><img class="listeImagesPilote" src="/image/pilote/{{this.phoadresse}}"/></a>
{{/each}}
</div>

