<div class="enTeteAdmin">
    <img src="/image/cat_ecurie.png" alt="logo"/>
    <h1>Gestion des écuries</h1>
    <a href="/ajouterEcurie"><img src="image/act_add.png"/> Ajouter une écurie</a>
</div>

<table class="tableauxGestion">
    <tr>
        <td><b>Nom</b></td>
        <td><b>Directeur</b></td>
        <td><b>Points</b></td>
        <td><b>Actions</b></td>
    </tr>
    {{#each listeEcuries}}
        <tr>
            <td>{{this.ecunom}}</td>
            <td>{{this.ecunomdir}}</td>
            <td>{{this.ecupoints}}</td>

            <td>
                <a href="/modifierEcurie/{{this.ecunum}}"><img src="/image/act_edit.png" alt="edit"/> Modifier</a>
                <a href="/supprimerEcurie/{{this.ecunum}}"><img src="/image/act_delete.png" alt="delete"/> Supprimer</a>
            </td>
        </tr>
    {{/each}}
</table>