<div class="enTeteAdmin">
    <img src="/image/cat_circuit.png" alt="drapeau" />
    <p>Gestion des Circuits</p>
    <img src="/image/act_add.png" alt="drapeau" />
    <a href="/ajouterCircuit">Ajouter un circuit</a>
</div>



    <table class="tableauxGestion">
    <tr>
        <td><b>Nom</b></td>
        <td><b>Longueur</b></td>
        <td><b>Nombre de spéctateurs</b></td>
        <td><b>Actions</b></td>
    </tr>
    {{#each listeCircuits}}
        <tr>
            <td>{{this.cirnom}}</td>
            <td>{{this.cirlongueur}}</td>
            <td>{{this.cirnbspectateurs}}</td>
            <td>
                <a href="/modifierCircuit/{{this.cirnum}}"><img src="/image/act_edit.png" alt="edit" /> Modifier</a>
                <a href="/supprimerCircuit/{{this.cirnum}}"><img src="/image/act_delete.png" alt="delete" /> Supprimer</a>
            </td>
        </tr>
    {{/each}}
</table>
<br class="myboth"/>