<form action="/modifierEcurie/{{ecurie.ecunum}}" method="post">
    <h1 align="center">Ajouter une écurie</h1>
    <table>



        <tr>
            <td>
                <p>Nom</p>
            </td>
            <td>
                <input type="text" name="ecunom" value={{ecurie.ecunom}}>
            </td>
        </tr>



        <tr>
            <td>
                <p>Directeur</p>
            </td>
            <td>
                <input type="text" name="ecunomdir" value="{{ecurie.ecunomdir}}">
            </td>
        </tr>



        <tr>
            <td>
                <p>Adresse du siège</p>
            </td>
            <td>
                <input type="textarea" name="ecuadrsiege" value="{{ecurie.ecuadrsiege}}">
            </td>
        </tr>



        <tr>
            <td>
                <p>Points</p>
            </td>
            <td>
                <p><input type="text" name="ecupoints" value="{{ecurie.ecupoints}}"> pts</p>
            </td>
        </tr>



        <tr>
            <td>
                <p>Pays</p>
            </td>
            <td>
                <select name="paynum">
                    <option value={{paysEcurie.paynum}}>{{paysEcurie.paynom}}</option>
                    {{#each listePays}}
                        <option value={{this.paynum}}>{{this.paynom}}</option>
                    {{/each}}
                </select>

            </td>
        </tr>



        <tr>
            <td>
                <p>Fournisseur de pneus</p>
            </td>
            <td>
                <select name="fpnum">
                    <option value={{fournEcurie.fpnum}}>{{fournEcurie.fpnom}}</option>
                    {{#each listeFourn}}
                        <option value={{this.fpnum}}>{{this.fpnom}}</option>
                    {{/each}}
                </select>

            </td>
        </tr>



        <tr>
            <td>
                <p>Image</p>
            </td>
            <td>
                <input type="file"
                       id="avatar" name="ecuadresseimage"
                       accept="image/png, image/jpeg">
            </td>
        </tr>

    </table>

    <input type="submit" value="MODIFIER">
</form>