<form action="/modifierPilote/{{pilote.pilnum}}" method="post">

    <h1>Ajouter un pilote</h1>
    <table>

        <tr>
            <td>
                <p>Prénom</p>
            </td>
            <td>
                <input type="text" name="pilprenom" value="{{pilote.pilprenom}}">
            </td>
        </tr>



        <tr>
            <td>
                <p>Nom</p>
            </td>
            <td>
                <input type="text" name="pilnom" value="{{pilote.pilnom}}">
            </td>
        </tr>



        <tr>
            <td>
                <p>Date de naissance</p>
            </td>
            <td>
                <input type="date" name="pildatenais" value={{formatDate pilote.pildatenais 'YYYY-MM-DD'}}>
            </td>
        </tr>





        <tr>
            <td>
                <p>Nationalité</p>
            </td>
            <td>
                <select name="paynum">
                    <option value={{natioPilote.paynum}}>{{natioPilote.paynat}}</option>
                    {{#each listeNatios}}
                        <option value={{this.paynum}}>{{this.paynat}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>



        <tr>
            <td>
                <p>Ecurie</p>
            </td>
            <td>
                <select name="ecunum">
                    <option value={{ecuPilote.ecunum}}>{{ecuPilote.ecunom}}</option>
                    {{#each listeEcuries}}
                        <option value={{this.ecunum}}>{{this.ecunom}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>



        <tr>
            <td>
                <p>Points</p>
            </td>
            <td>
                <p><input type="text" name="pilpoints" value="{{pilote.pilpoints}}"> pts</p>
            </td>
        </tr>



        <tr>
            <td>
                <p>Poids</p>
            </td>
            <td>
                <p><input type="text" name="pilpoids" value="{{pilote.pilpoids}}"> kg</p>
            </td>
        </tr>



        <tr>
            <td>
                <p>Taille</p>
            </td>
            <td>
                <p><input type="text" name="piltaille" value="{{pilote.piltaille}}"> cm</p>
            </td>
        </tr>



        <tr>
            <td>
                <p>Description</p>
            </td>
            <td>
                <input type="text" name="piltexte" value="{{pilote.piltexte}}">
            </td>
        </tr>



    </table>

    <input type="submit" value="MODIFIER">
</form>