<form action="/modifierCircuit/{{circuit.cirnum}}" method="post">


    <h1>Modifier un circuit</h1>
    <table>
        <tr>
            <td>
                <p>Nom</p>
            </td>
            <td>
                <input type="text" class="login-field" name ="cirnom" value={{circuit.cirnom}}>
            </td>
        </tr>
        <tr>
            <td>
                <p>Longueur</p>
            </td>
            <td>
                <input type="number" class="login-field" name ="cirlongueur" value={{circuit.cirlongueur}} min="1" max="100000">
            </td>
        </tr>
        <tr>
            <td>
                <p>Pays</p>
            </td>
            <td>
                <select name="paynum">
                    <option value={{paysCircuit.paynum}}>{{paysCircuit.paynom}}</option>
                    {{#each listePays}}
                        <option value={{this.paynum}}>{{this.paynom}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <p>Image</p>
            </td>
            <td>
                <input type="file" class="login-field" name ="ciradresseimage" value={{circuit.ciradresseimage}} accept="image/png,image/jpeg" maxlength="20">
            </td>
        </tr>
        <tr>
            <td>
                <p>Nombre de spectateurs</p>
            </td>
            <td>
                <input type="text" class="login-field" name ="cirnbspectateurs" value={{circuit.cirnbspectateurs}}>
            </td>
        </tr>
        <tr>
            <td>
                <p>Description</p>
            </td>
            <td>
                <textarea type="text" class="login-field" name ="cirtext" value={{circuit.cirtext}}></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" name="inscription" class="" value="MODIFIER">
</form>